<div class="d-flex">
	<span class="input-group-text mb-3" id="basic-addon3">https://example.com/photo.jpg</span>
	<div class="mb-3 form-floating flex-grow-1">

		<input type="text" class="form-control" id="image" placeholder="Inserisci l'URL dell'immagine"
			   required autocomplete="off" name="ImgListModel">
		<label for="image" class="text-secondary">Product ImageURL</label>
	</div>
</div>